html{
    background-color: #2c2c54;
    font-family: 'PT Sans', sans-serif;   
}
#lista_instituciones{
    width: 100%;
    height: 100%;
    background-color: #3b3a36;
}
#container{
    display: block;
}

#titulo_busqueda{
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
    padding-bottom: 30px;
    color: #fff;
    background-color: #2c2c54;
}

.link{
    padding: 10px 25px;
    text-align: center;
    vertical-align: bottom;
    margin:0 auto;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #3498db;
    text-decoration: none;
}
#txtBusqueda{
    display: block;
    margin: auto;
    font-size: 20px;
    width: 40%;
    height: 50px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    border: none;
    outline-color: #2f3542;
    text-align: center; 
}
.eliminar{
    
    padding: 10px 25px;
    text-align: center;
    vertical-align: bottom;
    margin:0 auto;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #ff0000;
    text-decoration: none;
    
}
#tbl_instituciones {
    display: block;
    margin: auto;
    width: 65%;
    height: 700px;
    background-color: #fff;
    overflow-y: scroll;
}


th{
    width: 200px;
    font-size: 35px;
    display: table-cell;
}
td{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    text-align: center; 
}
td:hover{
    
}
.imagen_buscar{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
