html {
    font-family: 'PT Sans', sans-serif;
}

.error_input {
    border: 2px solid red;
}

body {
    background: #2c2c54;
}

h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #fff;
    background-color: #2c2c54;
}

#contenido {
    display: block;
    background-color: #fff;
    width: 65%;
    margin: auto;
    height: 100%;
    margin-bottom: 100px;
    border-radius: 5px;
}

#info_p {
    text-align: center;
    font-size: 22px;
    padding: 30px;
    color: rgb(151, 151, 151);
}

label {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 30px;
}

#txt_util {
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #dfe4ea;
    outline-color: #1abc9c;
}

#txt_descripcion {
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 30px;
    height: 250px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    resize: none;
    cursor: not-allowed;
}

#btn_atras {
    float: left;
    background-color: #e74c3c;
}

#btn_enviar {
    float: right;
    background-color: #3498db;
    ;
}

#btn_enviar, #btn_atras, #btn_actualizar {
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 10%;
}

#btn_actualizar {
    float: right;
    background-color: #3498db;
    ;
}

.contenedor_botones {
    display: block;
    margin: auto;
    width: 70%;
    height: 51px;
    margin-bottom: 100px;
}

#slt_nivel {
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    text-align: center;
    cursor: not-allowed;
}

#slt_util {
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    text-align: center;
    cursor: not-allowed;
    
    
}

#nmb_cantidad {
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    text-align: center;
    cursor: not-allowed;
}