html{
    font-family: 'PT Sans', sans-serif;  
    margin-bottom: 10px;
    background-color: #3b3a36;
    color: #e9ece5;
}

label{
    color: #e9ece5; 
    margin-left: 20px;
}

#txt_filtro{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 20px;
}

h1{
    margin-top: 65px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color: #e9ece5;
}

#tbl_citas tr th{
    height: 40px;
    padding: 5px;
    text-align: center;
    color: #e9ece5;
}

#tbl_citas thead th{
    background-color: #c0dfd9;
    color:#3b3a36;
    border: 2px #e9ece5;
}

#tbl_citas tr td:hover{
    background-color: #b3c2bf;
    color: #3b3a36;
    
}

#tbl_citas tbody td{
    border: 2px solid;
    text-align: center;
    padding: 10px;  
    
}

#tbl_citas{
    margin: auto;
    margin-top: 20px;
    background-color: #3b3a36;
    
}

div{
    padding-top: 30px;
    background-color: #e9ece5;
    padding-bottom: 30px;
}

.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.barra_navegacion{
    width: 100%;
    height: 70px;
    background-color: #3b3a36;
}

.barra_navegacion{
    width: 100%;
    height: 70px;
    background-color: #3b3a36;
}
.imagen_barra_navegacion{
    display: inline;
    float: left;
    background: url("../img/Prometeo_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 15px;  
    width: 208px;
    height: 40px;
    cursor: pointer;
}

.barra_navegacion a:hover{
    background-color: #b3c2bf;  
    color: #3b3a36;
}

.barra_navegacion a{    
    width: 170px;
    height: 45px;
    float: right;   
    padding-top: 25px;  
    vertical-align: middle; 
    text-align: center;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #e9ece5;
}

/* #contenedor_logo{
    background-color: #b3c2bf;
} */