.error_input{
    border: 2px solid red;
    /* #eb2f06 rojo*/
}



html{
    font-family: 'PT Sans', sans-serif;
    background-color: #2c2c54;
}

#info_p{
    text-align: center;
    font-size: 22px;  
    color: rgb(151, 151, 151);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}

#titulo_registro{
    display: block;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background-color: #2c2c54;
}

.image_holder{
    width: 200px;
    height: 200px;
    margin: auto;
    padding-bottom: 40px;
}


#image_preview{
    border: solid 1px gray;
    width: 200px;
    height: 200px;
    margin: auto;
  
}

label{
    display: block;
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.class_input{
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    text-align: center; 
}

.class_textarea{
    font-size: 25px;
    display: block;
    margin: auto;
    width: 70%;
    height: 250px;
    background-color: #dfe4ea;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 40px;
    outline-color: #1abc9c;
    resize: none; 
    font-family: 'PT Sans', sans-serif;   
}

.btn_atras, .btn_registrar{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 10%;
    margin-left: 10%;
}

.btn_atras{
    float: left;
    background-color: #e74c3c;
}
.btn_registrar{
    float: right;
    background-color: #3498db;
}

.btn_registrar_imagen{
    margin: auto;
    display: block;
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #3498db;
}

.contenedor_botones{
    display: block;
    margin: auto;
    width: 70%;
    height: 51px;
    margin-bottom: 40px;
}


#form_contenedor{
    display: block;
    padding-top: 70px;
    margin: auto;
    margin-bottom: 100px;
    width: 65%;
    height: 100%;
    background-color: #fff; 
    border-radius: 5px; 
}
